.header {
	&__name {
		font-weight: 700;
		font-size: 120px;
	}

	&__description {
		font-size: 26px;
		padding: 2rem 0;
		line-height: 2.5rem;
	}
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
	.header__description {
		font-size: 25px;
	}
}
