.launchArticle {
	display: flex;
	justify-content: space-evenly;
	padding: 2rem;
	.article {
		text-align: center;

		&__image {
			border: 1px solid;
			width: 30vh;
			height: 30vh;
			overflow: hidden;
		}

		&__header {
			justify-content: center;
			font-weight: 700;
			width: 500px;
			h5 {
				color: #fff;
				font-size: 2.2rem;
			}

			p {
				font-size: 1.4rem;
				display: inline;
				color: #fff;
			}
		}
	}
}
